.Ibrahimcontainer {
  display: flex;
  flex-direction: row 
}
.IbrahimImages {
   flex-grow: 1
  }
  .IbrahimMainImage {
    
    flex-grow:2
  }
  .IbrahimitemInfo {
    flex-grow:1
  }
  .IbrahimFreqWord {
    flex-grow:1
  }
  .IbrahimFreqItems1 {
    flex-grow:1
  }
  .IbrahimFreqItems2 {
    flex-grow:1
  }
  .IbrahimFreqItems3 {
    flex-grow:1
  }
  Ibrahimfrec {
    margin: 5px;
    border-bottom: 3px solid #f96302;
  }
