.Ibrahimcontainer {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.IbrahimImages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .IbrahimMainImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .IbrahimitemInfo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }